@charset "ISO-8859-1";

.categoryTitle
{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 30px;
	font-family: 'Merienda', cursive;
}

.containerLignesCompte
{
	width: 80%;
	height: 70%;
	margin-left: 10%;
	margin-top: 1%;
	overflow-y: scroll;
}

.rowTitleSelection
{
	margin-top: 2%;
	margin-left: 10%;
	width: 80%;
	font-size: 20px;
	background-color: rgb(0,41,53);
	color: white;
	display: inline-block;
	font-family: 'Maven Pro', sans-serif;
	border-radius: 10px;
}

.compteTitle
{
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 24px;
	color: rgb(0,170,242);
	background-color: rgb(50,50,50);
	font-family: 'Kanit', sans-serif;
}

.montantTotalS
{
	position: absolute;
	width: 25%;
	text-align: center;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	right: 0;
	top: 0;
}

.rowDataLC
{
	width: 100%;
	font-size: 18px;
	color: white;
	display: inline-block;
	font-family: 'Maven Pro', sans-serif;
}

.color1S
{
	background-color: rgb(100,100,100);
}

.color2S
{
	background-color: rgb(130,130,130);
}

.colSelect
{
	position: relative;
	height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	text-align: center;
}

.colDateS
{
	width: 25%;
}
.colDetailS
{
	width: 50%;
	background-color: rgba(0,0,0,0.2);
}
.colMontantS
{
	width: 25%;
}

.colMontantS .iconCoche
{
	position: absolute;
	right: 2%;
	top: 15%;
	width: 12%;
	border-radius: 8px;
	box-shadow: inset 1px 1px 1px rgb(0,0,0);
	user-select: none;
	background-color: rgba(255,255,255,0.3);
	color: transparent;
	transition: box-shadow 0.5s;
}
.iconCoche:hover
{
	cursor: pointer;
	box-shadow: inset 1px 1px 1px rgb(232,0,200);
}